<%- include('../partials/header') %> <%- include('../partials/sidebar') %>

    <div class="content">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">SRNO.</th>
            <th scope="col">NAME</th>
            <!-- <th scope="col">SUB-NAME</th> -->
          </tr>
        </thead>
        <tbody>
          <% data.forEach((item,index)=> { %>
            <tr>
              <td>
                <%= index+1 %>
              </td>
              <td>
                <%= item.name %>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>

    <%- include('../partials/footer') %>